* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: main;
}

#menu{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
}

#loader{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999999999999999999999999!important;
	top: 0;
	left: 0;

}
#loader #insideloader{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #555;
}
#loader #insideloader #line{
	width: 60vh;
	height: 1.5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#loader #insideloader #line #progress{
	width: 100%;
	height: 100%;
	background-color: white;
	transform: scaleX(0);
}
#loader #outsideloader{
	width: 100%;
	display: flex;
	height: 100%;
	position: absolute;
	/* display: none; */
	background-color: transparent;
	
	top: 0;

	left: 0;
	z-index: 999;
}
#loader #outsideloader #prog{
	width: 100%;
	height: 100%;
	background-color: white;
	transform: scaleY(0);
}
#loader #outsideloader #left{
	width: 50%;
	height: 100%;
	background-color: black;
}
#loader #outsideloader  #line{
	width: 0.2vh;
	height: 100vh;
	/* background-color: gray; */
	position: relative;
	display: flex;
	align-items: top;
}
#loader #outsideloader #right{
	width: 50%;
	height: 100%;
	background-color: black;
}
@font-face {
    font-family: rv;
    src: url("fonts/1f90f94c17909f8555b5.ttf");
}

main {
	position: relative;
    font-family: rv;
}


#page1 .frame {
	text-align: center;
	position: relative;
	z-index: 900;
}

#page1 .frame__author {
	text-decoration: none;
	color: var(--color-alt);
}

#page1 .frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

#page1 .frame__links {
	display: inline;
}

#page1 .frame__links a:not(:last-child),
#page1 .frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

#page1 .frame__demos {
	margin: 1rem 0;
}

#page1 .frame__demo--current,
#page1 .frame__demo--current:hover {
	text-decoration: none;
	color: var(--color-alt);
}

#page1 .content {
	padding: 3rem;
	min-height: 90vh;
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

#page1 .content--auto {
	min-height: 0;
}

#page1 .content--feature {
	justify-content: flex-start;
	min-height: 0;
}

#page1 .content--fixed {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
}

#page1 .content__pretitle {
	margin-top: auto;
	font-size: 1.85rem;
	color: var(--color-alt);
}

#page1 .content__pretitle::before {
	content: "\2015";
	margin-right: 0.25rem;
}

#page1 .content__title {
	font-size: 9vw;
	line-height: 0.8;
	margin: 0 0 3rem 0;
	font-weight: 400;
	max-width: 800px;
	will-change: transform;
}

#page1 .content__text {
	font-size: 2.25rem;
	font-size: clamp(1rem, 4vw, 2.25rem);
}

#page1 .content__text--right {
	align-self: flex-end;
}

#page1 .content__text--centered {
	margin: auto;
}

#page1 .content__breakout {
	margin: 0 -3rem;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: span, serif;
	font-weight: 200;
	font-style: italic;
	color: #211f1b;
}

#page1 .content__breakout--big {
	font-size: 13vw;
	font-weight: 200;
}

#page1 .content__breakout--medium {
	font-size: 5vw;
}

#page1 .tiles {
	--tiles-height: 52vw;
	height: var(--tiles-height);
	position: relative;
	overflow: hidden;
}

#page1 .tiles--columns-rotated {
	--tiles-height: 180vmax;
}

#page1 .tiles--columns {
	--tiles-height: 140vh;
}

#page1 .tiles--oneline {
	--tiles-height: 50vh;
	min-height: 400px;
	margin: 10vh 0;
}

#page1 .tiles--small {
	--tiles-height: 100px;
	margin: 10vh 0 0;
}

#page1 .tiles--fixed {
	--tiles-height: 65vw;
	margin-top: 25vh;
}

#page1 .tiles--perspective {
	overflow: visible;
	perspective: 1000px;
	--tiles-height: 500px;
}

#page1 .tiles__wrap {
	width: 150%;
	--tileswrap-height: var(--tiles-height);
	height: var(--tileswrap-height);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%, 0);
}

#page1 .tiles--rotated .tiles__wrap {
	--tileswrap-height: calc(var(--tiles-height) * 1.8);
	transform: translate3d(-50%,-50%, 0) rotate(22.5deg);
}

#page1 .tiles--columns-rotated .tiles__wrap {
	width: 150%;
	display: flex;
	transform: translate3d(-50%,-50%,0) rotate(-22.5deg);
	left: 50%;
	top: 50%;
	align-items: center;
	justify-content: center;
}

#page1 .tiles--columns .tiles__wrap {
	width: 100%;
	display: flex;
	--tileswrap-height: calc(var(--tiles-height) * 1.4);
	transform: translate3d(0,-50%,0);
	left: 0;
	top: 50%;
}

#page1 .tiles--perspective .tiles__wrap {
	width: 200%;
    transform: translate3d(-50%,-50%,0) translateX(-25%) translateZ(-1200px) rotateX(75.5deg) rotateZ(12deg);
}

#page1 .tiles--fixed .tiles__wrap {
	width: 100%;
}

#page1 .tiles__line {
	display: flex;
}

#page1 .tiles--columns .tiles__line {
	width: 25%;
	padding: 0 1rem;
	display: block;
}

#page1 .tiles--columns-rotated .tiles__line {
	width: 320px;
	flex: none;
	padding: 0 1.5vw;
	display: block;
}

#page1 .tiles--columns-rotated .tiles__line:nth-child(even) {
	margin-top: -160px;
}

#page1 .tiles--oneline .tiles__line {
	height: 100%;
}

#page1 .tiles--small .tiles__line {
	height: 100%;
}

#page1 .tiles__line-img {
	--tile-margin: 2vw;
	flex: none;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
	margin: var(--tile-margin);
	background-size: cover;
	background-position: 50% 50%;
}

#page1 .tiles--perspective .tiles__line-img {
	backface-visibility: hidden;
	outline: 1px solid transparent;
	--tile-margin: 1vw;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc(16.666vw * 1.3);
}

#page1 .tiles--oneline .tiles__line-img {
	--tile-margin: 1vw;
	margin: 0 var(--tile-margin);
	width: calc(25% - var(--tile-margin) * 2);
	height: 100%;
}

#page1 .tiles--small .tiles__line-img {
	--tile-margin: 5px;
	margin: 0 var(--tile-margin);
	width: calc(12.5% - var(--tile-margin) * 2);
	height: 100%;
}

#page1 .tiles--rotated .tiles__line-img {
	--tile-margin: 1vw;
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 5 - (4 * var(--tile-margin) / 2));
}

#page1 .tiles--columns-rotated .tiles__line-img {
	--tile-margin: 3vw 0;
	width: 100%;
	height: 400px;
}

#page1 .tiles--columns .tiles__line-img {
	--tile-margin: 2rem 0;
	width: 100%;
	height: calc(25vw * 1.3);
}

#page1 .tiles--fixed .tiles__line-img {
	--tile-margin: 10px;
	-webkit-filter: brightness(0.8);
	width: calc(16.6666% - var(--tile-margin) * 2);
	height: calc( var(--tileswrap-height) / 3 - (3 * var(--tile-margin) / 2));
}

#page1 .tiles--darker .tiles__line-img {
	opacity: 0.7;
}

#page1 .tiles__title {
	position: absolute;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	padding: 3rem;
	margin: 0;
	line-height: 0.8;
	font-family: span, serif;
	font-weight: 700;
	font-style: normal;
}

#page1 .tiles__title--alt {
	font-size: 9vw;
	font-size: clamp(2rem, 9vw, 7.25rem);
}

#page1 .tiles__title--intro {
	padding-top: 10vh;
	align-items: flex-start;
	justify-content: flex-start;
}

#page1 .tiles__title--right {
	justify-content: flex-end;
}

#page1 .tiles__title--left {
	justify-content: flex-start;
}

#page1 .tiles__title--full {
	height: 100%;
}

#page1 .backtop {
	align-self: center;
	margin: auto 0;
	font-size: 6vw;
	cursor: pointer;
	text-decoration: none;
}
#page1 p{
	font-family: cursive;
}
#page1 .backtop::after {
	content: "\2934";
	font-size: 3vw;
	vertical-align: top;
	margin-left: 1rem;
}

html.has-scroll-smooth {
	overflow: hidden; 
}
  
html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
  
.has-scroll-smooth body {
	overflow: hidden; 
}
  
.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; 
}
  
.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100vh;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0; 
}
.c-scrollbar:hover {
	transform: scaleX(1.45); 
}
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	opacity: 1; 
}
  
.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab; 
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing; 
}

@media screen and (min-width: 53em) {
	.frame {
		display: grid;
		align-content: space-between;
		width: 100%;
		grid-gap: 5vw;
		grid-template-columns: auto auto auto 1fr;
		grid-template-areas: 'title title links demos';
	}
#page1 	.frame__title {
		margin: 0;
		grid-area: title;
	}
#page1 	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
#page1	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
#page1	.tiles--columns-rotated .tiles__line {
		width: 33vmax;
	}
#page1	.tiles--columns-rotated .tiles__line:nth-child(even) {
		margin-top: -20vmax;
	}
#page1	.tiles--columns-rotated .tiles__line-img {
		height: 40vmax;
	}
	#page1 .content--numbered::after {
		counter-increment: contentSection;                   
		content: counter(contentSection,decimal-leading-zero);
		position: absolute;
		top: 50%;
		right: 3rem;
		border: 1px solid;
		color: var(--color-alt);
		width: 4rem;
		height: 4rem;
		margin-top: -2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
#page1 	.content__text {
		max-width: 800px;
		width: 50vw;
		min-width: calc(300px - 6rem);
	}
#page1	.content__text--wide {
		max-width: 1000px;
		width: 65vw;
	}
#page1	.tiles--small {
		--tiles-height: 240px;
	}
}
#page1{
	background-image: url(./nnnoise\ \(2\).svg);
}
/* #page2 {
    width: 100vw;
    height: 100vh;
    background-color: black;
	background-image: url(./nnnoise\ \(2\).svg);
    display: flex;

} */



#nav{
	width: 100%;
	background-color: black;
	/* border-radius: 25px; */
	display: flex;
	align-content: center;
	justify-content: space-between;
   /* position:fixed; */
	height: 10vh;
	position: absolute;
	top: 0;
	left: 0;
	/* background-color: red; */
	margin: auto;
	padding: 0 3vw;
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999!important;
}
#nav .nav-logo img{
	height: 13vh;
	cursor: pointer;
	margin-left: -2vw;
	position: fixed;

	z-index: 999999999999999999999999999999;
}
#nav .runway-logo img{
	height: 30vh;
	margin-top: -4.2vw;

}

#nav .page-4{
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	position: absolute;
	top: 0%;
	left: 0%;
	/* padding: 2vw !important; */
	/* background-color: #CC0033; */
	/* position: relative!important; */
  }
  #nav .page-4 .placeholder-title{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	padding-left: 15vw;
	padding-right: 15vw;
  }
  
  #nav .page-4 .placeholder-title h1{
	font-size: 6vw;
	color: #333;
	font-weight: 500;
	text-align: center;
  }
  
  /* Header start */
  
  #nav .page-4  header{
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
  }
  
  #nav .page-4  .header-row{
	padding:40px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  #nav .page-4  .brand-logo img{
	height: 40px;
	fill: #fff;
	z-index: 9999999;
	/* margin-top: 2vw !important; */
  }
  
  #nav .page-4  .menu-toggle{
	background:transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 1.5%;
	right: 2%;
	/* background-color: green; */
	z-index: 99999999999999999999 !important;
	opacity: 1;
  }
  
  #nav .page-4 .hamburger path{
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	z-index: 99999999999999 ;
  }
  
  #nav .page-4  .fullpage-menu{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: none;
	z-index: 9999999;
	/* background-color: #A4C4B8; */
  }
  #nav .page-4  .fullpage-menu-inner{
	display: flex;
	align-items: center;
	height: 100%;
	padding: 100px 60px;
  }
  #nav .page-4  .menu-bg{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
  }
  #nav .page-4  .menu-bg span{
	height: 33.334%;
	width: 100%;
	background: #000;
	display: block;
  }
  
  #nav .page-4  nav{
	position: relative;
	z-index: 10;
  }
  
  #nav .page-4  nav ul{
	list-style-type: none;
  }
  #nav .page-4  nav li{
	overflow: hidden;
	transition: transform 300ms ease-in-out 0s;
  }
  #nav .page-4  nav li + li{
	margin-top: 20px;
  }
  #nav .page-4  nav li a{
	font-size: 100px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	display: inline-block;
	line-height: 1;
  }
  nav li:hover{
	transform: translateX(50px);
  }
  .header-nav-footer{
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 60px;
  }
  .social-links{
	list-style-type: none;
	display: flex;
	align-items: center;
	width: 100%;
  }
  .social-links li{
	font-size: 18px;
	font-weight: 500;
  }
  .social-links li + li{
	margin-left: 16px;
  }
  .social-links li:last-child{
	margin-left: auto;
  }
  .social-links a{
	color: #ffffff;
	text-decoration: none;
  }
  
  @media screen and (max-width:767px) {
	.header-row, .header-nav-footer{
		padding: 30px;
	}
	.fullpage-menu-inner{
		padding: 70px 30px;
	}
	nav li a{
		font-size: 54px;
	}
	.social-links li{
		font-size: 16px;
	}
  }

#page3 {
    width: 100vw;
    height: 100vh;
    background-color: black;
	background-image: url(./nnnoise\ \(2\).svg);
}

#page4 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 151, 153);
	position: relative;
}
#page4 canvas{
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
#page4left{
	width: 100%;
	height: 100%;
	background-color: yellow;
	position: absolute;
	left: 0;
	z-index: 999;
	clip-path:polygon(0 0, 39% 0, 39% 100%, 0% 100%);
  
  }
  
  #page4right{
	width: 100%;
	height: 100%;
	border-radius:35px 0 0 35px;
	background-color:violet;
	position: absolute;
	overflow: hidden;
	clip-path: polygon(39% 0, 100% 0, 100% 100%, 39% 100%);
  
	right: 0;
	top: 0;
	z-index: 999!important;
  }
  #page4left img{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center;
  }
  #page4right img{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center;
  }
#page5 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(108, 119, 223);
}
#page5 {
    height: 100vh;
    background-color: #000;
    width: 100%;
    position: relative!important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: rv2, sans-serif;
}
#page5 #faq{
    color: #fff;
}
#page5 .p {
    width: 100%;
    height: 80vh;
    position: absolute;
    display: flex;
    bottom: 0;
    background-color: black;
}


#page5 .p img {
    height: 65%;
    width: 45%;
    object-fit: cover;
    position: absolute;
    top: 13%;
    right: 3%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

}

#page5 .p h1 {
    background-color: white;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
    text-align: center;
    line-height: 2.5em;
    margin: 0;
    padding-bottom: 1vh;
    font-size: 1.5em;
}

#page5 .p p {
    position: absolute;
    left: 0%;
    /* transform: translateX(100%); */
    top: 50%;
    width: 40%;
    height: 100%;
    border-bottom: 2px solid black;
    text-align: center;
    /* line-height: 2.5em; */
    margin: 0;
    padding-bottom: 1vh;
    margin-left: 5vw;
    color: white;
    background-color: black;
    font-size: 1.5em;
}


#page5 #p1 {
    top: 75%;
}

#page5 #p2 {
    top: 80%;
    z-index: 99;
}

#page5 #p3 {
    top: 85%;
    z-index: 99;
}

#page5 #p4 {
    top: 90%;
    z-index: 99;
}

#page5 #p5 {
    top: 95%;
    z-index: 9999;
}

@media (max-width: 600px) {
    #page5 .p img{
        display: none !important;
    }
    
    #page5 .p p {
    width: 90% !important;
}
}

#page6 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(170, 94, 191);
}
@font-face {
    font-family:rv ;
    src: url("./fonts/icomoon.ttf");
}
@font-face {
    font-family: rv2;
    src: url("./fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.ttf");
}
@font-face {
    font-family: rv3;
    src: url("./fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.ttf");
}
@font-face {
    font-family: rv4;
    src: url("./fonts/TomatoGrotesk-Medium.BzqDELbt.ttf");
}
@font-face {
    font-family: rv5;
    src: url("./fonts/Freudian\ One\ Demo.ttf");
}
h2{
    font-family:rv4, Arial, sans-serif!important;
    /* font-weight: 800; */
    color: white;
}
p{
    color: white;
	font-family: rv2!important;
}
#page1{
    background-color: black;
}


#page6 {
    width: 100vw;
    height: 100vh;
    background-color: #000;
	display: flex;
	flex-direction: column;
	padding: 3vw;
	padding-bottom: 1.5vw;
}
#page6 .page6-top{
	height: 50%;
	width: 100%;
	display: flex;
	border-top: 2px solid #313131;
	padding-top: 2vw;
	/* background-color: aqua; */
}
#page6 .page6-top .top-left{
	height: 100%;
	width: 50%;
	/* background-color: aqua; */
}

#page6 .page6-top .top-left .topleft-part{
	display: flex;
	align-items: center;
	gap: 1vw;
}
#page6 .page6-top .top-left .topleft-part button{
	font-size: 1.3vw;
	padding: 0.8vw;
	border-radius: 50%;
	border: 1px solid #4a4a4a;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
}
#page6 .page6-top .top-left .topleft-part h6{
	color: #fff;
	font-family: gilroy;
	font-weight: 100;
	font-size: 1vw;
}

#page6 .page6-top .top-right{
	height: 100%;
	width: 50%;
	/* background-color: rgb(59, 86, 86); */
	display: flex;
	align-items:flex-start;
	justify-content: space-between;
}
#page6 .page6-top .top-right .topright-part1 p{
	color: #fff;
	font-family: gilroy;
	font-weight: 100;
	font-size: 1vw;
	margin-bottom: 2vw;
}
#page6 .page6-top .top-right .topright-part1 .input input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #454545;
	font-size: 1.1vw;
	padding-bottom: 0.7vw;
	width: 20vw;
}
#page6 .page6-top .top-right .topright-part1 .input button{
	padding: 0.7vw 1.5vw;
	border: 1px solid #454545;
	background-color: transparent;
	color: #fff;
	margin-left: 1vw;
	border-radius: 0.5vw;
	cursor: pointer;
}
#page6 .page6-top .top-right .topright-part2{
	display: flex;
	gap: 2vw;
}
#page6 .page6-top .top-right .topright-part2 .top-content h4{
	font-size:0.9vw;
	color: #fff;
	font-family: gilroy;
	font-weight: 100;
	cursor: pointer;
	margin-bottom: 0.2vw;
}


#page6 .page6-bottom{
	height: 50%;
	width: 100%;
	display: flex;
	/* background-color: rgb(98, 107, 107); */
}
#page6 .page6-bottom .bottom-left{
	height: 100%;
	width: 50%;
	/* background-color: aqua; */
	display: flex;
	align-items: flex-end;
}
#page6 .page6-bottom .bottom-left h6{
	color: #fff;
	font-family: gilroy;
	font-weight: 100;
	font-size: 0.8vw;
	cursor: pointer;
}
#page6 .page6-bottom .bottom-right{
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#page6 .page6-bottom .bottom-right .bottom-part1 h1{
	color: #fff;
	font-family: gilroy;
	font-weight: 400;
	font-size: 2.3vw;
	width: 28vw;
	line-height: 2.5vw;
}
#page6 .page6-bottom .bottom-right .bottom-part1 #contact{
    padding: 0.9vw 5vw;
	border-radius: 0.3vw;
	color: #fff;
	background-color: rgb(174, 14, 14);
	border: none;
	cursor: pointer;
}
#page6 .page6-bottom .bottom-right .bottom-part1 #arrow{
    padding: 0.9vw 1vw;
	border-radius: 0.3vw;
	color: #fff;
	background-color: rgb(174, 14, 14);
	border: none;
	cursor: pointer;
}
#page6 .page6-bottom .bottom-right .bottom-part1 button{
	margin-top: 1.5vw;
	cursor: pointer;
}
#page6 .page6-bottom .bottom-right .bottom-part2{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
#page6 .page6-bottom .bottom-right .bottom-part2 h6{
	color: #fff;
	font-family: gilroy;
	font-weight: 100;
	font-size: 0.8vw;
	cursor: pointer;
}

@media screen and (max-width:600px) {
	#page6 .page6-top,#page6 .page6-top .top-right{
		flex-direction: column;
	}
	#page6 .page6-top{
		height: 50%;
		padding-left: 2vw;
		padding-top: 10vw;
	}
	#page6 .page6-top h6{
		font-size: 4vw !important;
	}
	#page6 .page6-top button{
		font-size: 3vw !important;
		padding: 4vw !important;
	}
	#page6 .page6-top .top-right{
		width: 100%;
	}
	#page6 .page6-top .top-right .topright-part1{
		margin-top: -15vw;
	}
	#page6 .page6-top .top-right .topright-part1 p{
		font-size: 5.5vw;
		width: 70vw;
	}
	#page6 .page6-top .top-right .topright-part1 .input input{
		font-size: 5vw;
		padding-bottom: 3vw;
		width: 70vw;
		margin-top: 10vw;
	}
	#page6 .page6-top .top-right .topright-part1 .input button{
		padding: 4vw 6vw !important;
	}
	#page6 .page6-top .top-right .topright-part2{
		gap: 15vw;
		margin-top: 15vw !important;
		/* margin-bottom: 10vw; */
	}
	#page6 .page6-top .top-right .topright-part2 .top-content h4{
		font-size:5vw;
		margin-bottom: 0.2vw;
	}
	#page6 .page6-bottom{
		flex-direction: column;
		/* align-items: center; */
		margin-top: -15vw;
		padding-left: 3vw;
	}
	#page6 .page6-bottom .bottom-left h6{
		display: none;
	}
	/* #page6 .page6-bottom .bottom-right .bottom-part1{
		margin-top: 30vw !important;
	} */
	#page6 .page6-bottom .bottom-right .bottom-part1 h1{
		font-size: 8vw;
		width: 95vw;
		line-height: 8vw;
		/* margin-top: 20vw !important; */
	}
	#page6 .page6-bottom .bottom-right .bottom-part1 #contact{
		padding: 4vw 28vw !important;
		margin-top: 10vw;
	}
	#page6 .page6-bottom .bottom-right .bottom-part1 #arrow{
		padding: 4vw 5vw !important;
	}
	#page6 .page6-bottom .bottom-right{
		width: 100%;
	}
	#page6 .page6-bottom .bottom-right .bottom-part2{
		justify-content: space-evenly;
	}
	#page6 .page6-bottom .bottom-right .bottom-part2 h6{
		color: #fff;
		font-family: gilroy;
		font-weight: 100;
		font-size:3vw;
		cursor: pointer;
		margin-top: 25vw;
	}
}
.page-8{
    height: 120vh;
    width: 100vw;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page8-part{
    height: 100%;
    width: calc(100vw / 4.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    cursor: pointer;
	position: relative;
	/* background-color: #313131; */
}
.page8-part p{
	text-align: center;
}
.page8-img1{
    height: 45%;
    width: 100%;
    border-radius: 1vw;
    overflow: hidden;
}
.page8-img1 video{
	height: 45%;
    width: 100%;
	object-fit: cover;
	object-position: center;
	/* z-index: 9999999999999 !important; */
	position: absolute;
	left: 0;
	z-index: -1;
	border-radius: 1vw;
}

.page8-img1:hover img{
    opacity: 0;
}
/* .page8-img1 img:hover video{
	z-index: 99999;
} */
.page8-img1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.5s;
	z-index: 9999999999999 !important;
	transition: all ease 0.5s;
}
.page-8 .page8-part:nth-last-child(1) .page8-img1 img{
	object-position: left;
}
.page-8 p{
    font-size: 1.4vw;
    font-family: regular;
    font-weight: 100;
    width: 20vw;
    line-height: 2vw;
	color: #000;
}
.page-8 h6{
    font-size: 1vw;
    font-family:regular;
    font-weight: 100;
    width: 20vw;
    color:#aea38bee;
}
.page-8 button{
    padding:0.75vw;
    background-color:#F1EFEA;
    border-radius: 8px;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.page-8 button i{
    z-index: 99999 !important;
    opacity: 1 !important;
}
@media screen and (max-width:700px) {
	.page-8{
		flex-direction: column;
		height: 200vh !important;
	}
	.page8-img1{
		height: 70%;
		width: 80vw !important;
	}
	.page8-part p{
		font-size: 4vw;
		width: 75vw;
		line-height: 4vw !important;
		margin-top: 5vw;
	}
}
#page12{
    height: 160vh;
    width: 100vw;
    background-color: #E6DDCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 5vw 3vw;
    /* margin-top: -50vw; */
}
#page12 .page12-top{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
#page12 .page12-part .page12-image1{
    height: 35vh;
    width: 17vw;
    border-radius: 0.5vw;
    overflow: hidden;
}
#page12 .page12-part .page12-image2{
    height: 35vh;
    width: 13vw;
    border-radius: 0.5vw;
    overflow: hidden;
}
#page12 .page12-part .page12-image3{
    height: 35vh;
    width: 10vw;
    border-radius: 0.5vw;
    overflow: hidden;
}
#page12 .page12-part .page12-image4{
    height: 28vh;
    width: 18vw;
    border-radius: 0.5vw;
    overflow: hidden;
}
#page12 .page12-part img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page12 .page12-part .page12-line{
    height: 50vh;
    width: 0.1vw;
    background-color: #3D3D3D;
}
#page12 .page12-bottom{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#page12 .page12-bottom .bottom-part{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
#page12 .page12-bottom .bottom-part h1{
    font-size: 3.5vw;
    font-family: gilroy;
    font-weight: 600;
}
#page12 .page12-bottom .bottom-part .bottom-image{
    height: 12vh;
    width: 5.5vw;
    border: 1px solid #3D3D3D;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.5s;
}
#page12 .page12-bottom .bottom-part .bottom-image:hover{
    scale: 1.1;
}
#page12 .page12-bottom .bottom-part .bottom-image svg{
    height: 4vh;
}
#page12 .page12-bottom .bottom-part .bottom-line{
    height: 0.1vh;
    width: 15vw;
    background-color: #3D3D3D;
}
#page12 .page12-bottom .bottom-part .bottom-text{
    text-align: center;
    font-family: gilroy;
}
#page12 .page12-bottom .bottom-part .bottom-text h6{
    font-size: 1.2vw;
    font-weight: 600;
    padding-bottom: 1vw;
}
#page12 .page12-bottom .bottom-part .bottom-text p{
    font-weight: 100;
    font-size: 1.1vw;
    width: 20vw;
}
#page12 .page12-bottom .bottom-part .bottom-text:nth-child(1){
    margin-top: -1.2vw;
}
#page12 .page12-bottom .bottom-part:nth-child(3){
    gap: 1.5vw;
}
#page12 .page12-bottom .bottom-part h5{
    font-family: gilroy;
    font-weight: 100;
    font-size: 1.5vw;
}
#page12 .page12-bottom .bottom-part h4{
    font-family: gilroy;
    font-weight: 600;
    font-size: 1.3vw;
    cursor: pointer;
}
#page12 .page12-bottom .bottom-part button{
    font-family: gilroy;
    font-weight: 100;
    font-size: 1.1vw;
    padding: 1vw 2vw;
    cursor: pointer;
    transition: all ease 0.5s;
}
#page12 .page12-bottom .bottom-part button:hover{
    background-color: transparent;
}

@media screen and (max-width:767px) {
    .page12-image1{
        height: 15vh !important;
        width: 30vw !important;
        border-radius: 2vw !important;
    }
    .page12-image2{
        height: 20vh !important;
        width: 35vw !important;
        border-radius: 2vw !important;
        margin-top: 20vw;
        margin-left: -30vw;
    }
    .page12-image3{
        height: 20vh !important;
        width: 30vw !important;
        border-radius: 2vw !important;
        margin-left: 10vw;
    }
    .page12-image4{
        height: 15vh !important;
        width: 30vw !important;
        border-radius: 2vw !important;
        margin-top: 20vw;
        margin-left: -30vw;
    }
    .page12-line{
        margin-left: 10vw;
    }
    .bottom-part{
        flex-direction: column;
    }
    .bottom-part h1{
        font-size: 10vw !important;
        padding-bottom: 10vw;
    }
    .bottom-line{
        /* display: none; */
        width: 0.1vw !important;
        height: 5vh !important;
        gap: 20vw !important;
    }
    .bottom-image{
        height: 10vh !important;
        width: 20vw !important;
        border-radius: 2vw !important;
    }
    .bottom-part:nth-child(2){
        margin-left: -60vw;
    }
    .bottom-part:nth-child(3){
        margin-top: -85vw !important;
        margin-left: 30vw;
        gap: 15vw !important;
    }
    .bottom-part h6{
        font-size: 5.2vw !important;
        text-align: start;
    }
    .bottom-part p{
        font-size: 4vw !important;
        width: 55vw !important;
        text-align: start;
    }
    .bottom-part h5{
        font-size: 5vw !important;
        text-align: center;
        margin-top: 10vw;
    }
    .bottom-part h4{
        font-size: 5vw !important;
        text-align: center;
        margin-top: 8vw;
    }
    .bottom-part button{
        font-size: 5vw !important;
        padding: 4vw 5vw !important;
        margin-top: 10vw;
    }
}
.page-3{
	height: 100vh;
	width: 100vw;
	/* background-color: #000; */
	padding: 7vw;
	z-index: 6969696969;
  }
  .page-3 .page3-content{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .page-3 .page3-content .page3-part .img1,
  .page-3 .page3-content .page3-part .img3{
	height: 50vh;
	width:17vw;
	opacity: 1 !important;
	border-radius: 1vw;
	overflow: hidden;
  }
  .page-3 .page3-content .page3-part .img1 video,
  .page-3 .page3-content .page3-part .img3 video{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	/* z-index: 99 !important; */
	opacity: 1 !important;
  }
  .page-3 .page3-content .page3-part{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3vw;
  }
  .page-3 .page3-content .page3-part .img2{
	height: 20vh;
	width: 15vw;
	opacity: 1 !important;
	border-radius: 0.7vw;
	overflow: hidden;
  }
  .page-3 .page3-content .page3-part .img2 video{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	/* z-index: 9999999999999999 !important; */
	opacity: 1 !important;
  }
  .page-3 .page3-content .page3-part h1{
	font-size: 3vw;
	color: #000;
	font-family: gilroy;
  }
  .page-3 .page3-content .page3-part .text-1 .text-inner{
	height: 3vh;
	/* background-color: #A4C4B8; */
	overflow: hidden;
	/* margin-bottom: 0.1vw; */
  }
  .page-3 .page3-content .page3-part .text-1 h6{
	font-size: 1.2vw;
	color: #000;
	font-family: gilroy;
	text-align: center;
	width: 20vw;
	font-weight: 100;
	overflow: hidden;
	/* background-color: #A4C4B8; */
	/* margin-bottom: 0.1px; */
  }
  @media screen and (max-width:767px){
	.page-3{
	  height: 120vh;
	}
	.page-3 .page3-content{
	  display: initial;
	  /* flex-direction: column; */
	  position: relative;
	}
	.page-3 .page3-content .page3-part .img1,
	.page-3 .page3-content .page3-part .img3{
	  height: 25vh;
	  width:40vw !important;
	  opacity: 1 !important;
	  border-radius: 2vw;
	  overflow: hidden;
	  /* transform: scale(1,1); */
	}
	.page-3 .page3-content .page3-part .img1{
	  position: absolute;
	  top: 60vw;
	  left: 0vw;
	}
	.page-3 .page3-content .page3-part .img2{
	  position: absolute;
	  top: 120vw;
	  left: 30vw;
	}
	.page-3 .page3-content .page3-part .img3{
	  position: absolute;
	  top: 50vw;
	  left: 45vw;
	}
	.page-3 .page3-content .page3-part .img2{
	  height: 15vh;
	  width: 35vw;
	  opacity: 1 !important;
	  border-radius: 2vw;
	  overflow: hidden;
	}
	.page-3 video{
	  transform: scale(1,1) !important;
	}
	.page-3 .page3-content .page3-part .text-1 .text-inner{
	  height: 1.5vh;
	  overflow: auto;
	}
	.page-3 .page3-content .page3-part h1{
	  font-size: 8.5vw;
	}
	.page-3 .page3-content .page3-part .text-1 h6{
	  transform: translate(0,0) !important ;
	  font-size: 2.5vw;
	  width: initial;
	  /* line-height: 0.5vw; */
	}
  }

  #page2 {
	width: 100%;
	height: 200vh;
	color: white;
	 position: relative;
	background-image: url('./nnnoise\ \(2\).svg');
}




#page-parts {
	position: absolute;
	width: 100%;
}

#page-part1 {
	width: 100%;
	height: 55vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	padding-top: 10vh;
	margin-left: 44vh;
	/* background-color: yellow; */
}

#page-part1-content {
	height: 15vh;
}

#page-part1 h2 {
	width: 17vw;
	text-align: left;

}

#page-part1-content h1 {
	margin: 3vh 0;
}


#page-part1 #circle {
	width: 4vh;
	position: relative;
	height: 4vh;
	background-color: rgb(174, 163, 163);
	border-radius: 50%;
}

#page-part1 #circle #circle-small {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1.5vh;
	height: 1.5vh;
	background-color: #5267E2;
	border-radius: 50%;

}

#page-part2 {
	width: 100%;
	height: 40vh;
	display: flex;
	/* background-color: saddlebrown; */
	justify-content: space-evenly;
	align-items: top;
	/* background-color: rgba(255, 255, 0, 0.25); */
}


#page-part2-right #circle {
	width: 4vh;
	position: relative;
	height: 4vh;
	background-color: rgb(174, 163, 163);
	border-radius: 50%;
}

#page-part2 #circle #circle-small {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1.5vh;
	height: 1.5vh;
	background-color: #5267E2;
	border-radius: 50%;

}

#page-part2-right-content,#page-part2-left-content {
	height: 25vh;
	/* background-color: violet; */
}

#page-part2-right-content h2,#page-part2-left-content h2{
	margin-bottom: 4vh;
}

#page-part2-right-content h1 , #page-part2-left-content h1{
	margin-bottom: 5vh;
}

 #circle1{
	width: 4vh;
	position: relative;
	height: 4vh;
	background-color: rgb(174, 163, 163);
	border-radius: 50%;
 }

#circle1-small{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1.5vh;
	height: 1.5vh;
	background-color: #5267E2;
	border-radius: 50%;
}
#page-part3 {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	/* gap: 10vh; */
}



#page-part3-right {
	
	display: flex;
	flex-direction: column;
	align-items: top;
	justify-content: space-evenly;

}

#page-part3-circle-1 {
	width: 4vh;
	position: relative;
	height: 4vh;
	background-color: rgb(174, 163, 163);
	border-radius: 50%;
}

#page-part3-circle-1-small {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1.5vh;
	height: 1.5vh;
	background-color: #5267E2;
	border-radius: 50%;
}
#page-part3-top{
	margin-top: 12vh;
}

#page-part3-btm{
	margin-bottom:7vh;
}
#page-part3-top h1,
#page-part3-btm h1 {
	margin: 2vh 0;
}

#page-part3-top h3,
#page-part3-btm h3 {
	margin: 2vh;
	margin-left: -.5vh;
}

#page-part3-left {
	position: absolute;
	right: -10%;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	justify-content: right;

}
#page-part3-cir{
	display: flex;
	flex-direction: column;
	align-items: top;
	justify-content: space-evenly;
	margin-top: -10vh;

}
#page-part3-left img {
	height: 80%;
	border-radius: 20px;
	/* overflow: hidden; */
	object-fit: cover;
	/* padding-left: 40vh; */
	object-position: center;
}

#page-part2-top {
	height: 50%;
}

#page-part3-cir {
	width: 6vw;
	margin-left: -15.5vh;
	height: 100%;
	/* background-color: red; */
}


#page2 svg {
	height: 200vh;
	position: absolute;
	z-index: 99999;
	margin-left: -8%;
}


#page-part1 h2,
#page-part2 h2,
#page-part3 h2 {
	font-size: 3vh;
	font-weight: 600;
}

#page-part1 h1,
#page-part2 h1,
#page-part3 h1 {
	font-size: 4.5vh;
	font-weight: 500;
}

#page-part2-top h3,
#page-part2-btm h3 {
	font-weight: 600;
	color: rgba(124, 124, 253, 0.8);
}

#page-part2-top h4,
#page-part2-btm h4 {
	font-weight: 400;
}
 
#page33{
	 
opacity: 0;
}
 


@media (max-width: 720px) {
	 
	 #page3{
display: none !important;
	}
	 
#page33{
	opacity: 1;
	width: 100vw;
	height: 100vh;
	display: initial !important;
	display: flex;
}
#page33-content
	 {
		display: flex;
		flex-direction: column;
		margin-top: 5vh;
		margin-left: 6vh;
	 }
#page33-p1 h2{
	font-weight: 300;
	font-size: 1em;
}
#page33-p1 h1{
	font-weight: 600;
	font-size: 2em;
	margin-bottom: 5vh;
}	
#page33-p2 h2{
	font-weight: 300;
	font-size: 1em;
}
#page33-p2 h1{
	font-weight: 600;
	font-size: 2em;
	margin-bottom: 5vh;
}	
#page33-p3 h2{
	font-weight: 300;
	font-size: 1em;
}
#page33-p3 h1{
	font-weight: 600;
	font-size: 2em;
	margin-bottom: 5vh;
}	
#page33-p4 h2{
	font-weight: 300;
	font-size: 1em;
}
#page33-p4 h1{
	font-weight: 600;
	font-size: 2em;
	margin-bottom: 5vh;
}
#page33-p5 h2{
	font-weight: 300;
	font-size: 1em;
}
#page33-p5 h1{
	font-weight: 600;
	font-size: 2em;
	margin-bottom: 5vh;
}		

}